body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Source Code Pro";
  color: #777;
}

.img-1, .img-2, .img-3 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.img-1 {
  background-image: url("proheist.png");
  min-height: 80%;
}

.img-2 {
  background-image: url("idler.png");
  min-height: 400px;
}

.img-3 {
  background-image: url("triviak.png");
  min-height: 400px;
}
  
.boxw {
  color: #777777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}
  
.boxg {
  color:#fff;
  background-color:#1e1e1e;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
  position:relative;
}

.header {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 25px;
  letter-spacing: 7px;
}
  
.sub {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  background-color:transparent;
  font-size:25px;
  color: #fff;
  letter-spacing: 3px;
}

.title {
  letter-spacing: 3px;
  text-transform: uppercase;
  font: 20px "Source Code Pro";
  color: #111;
  text-align:center;
}

marquee {
  width: 25%;
}

@media only screen and (max-device-width: 1024px) {
  .img-1, .img-2, .img-3 {
    background-attachment: scroll;
  }
}
